<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
    <div class="container" >
      <a class="navbar-brand" [routerLink]="['/']">T-creator</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']" matTooltip="Home"><mat-icon style="cursor:pointer">home</mat-icon></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/shop']" matTooltip="Shopping"><mat-icon style="cursor:pointer">add_shopping_cart</mat-icon></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/myorder']" matTooltip="My cart"><mat-icon style="cursor:pointer">shopping_cart</mat-icon></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']" matTooltip="Registration"><mat-icon style="cursor:pointer">person_add</mat-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
